@{
    ViewBag.Title = "About";
}

<h1>Some info about me</h1>
<h4>A quick peek into my boring existence...</h4>

<section style="float: left; width: 60%; background: ghostwhite;">
    <h3>Bio</h3>
    <p style="width:80%;">
        
        It's quite queer to justify an actual profile that lacks a profile image, placed neatly by the side of one's biography. I am a 2nd year BCom Informatics student at the University of Pretoria. I am a computer addict simply because I get to pull long hours of gaming and music production, but that's if I am done browsing through YouTube. My passion for tech is kind of weird and broadly widened, but I always submit my schoolwork a minute before late.
        <br />
        <br />

        There is a tiny clue to who I might be, it sits above my 'profile' image. I was born a few decades ago, in the township streets of Soweto. No offence to the reader, but I still have no idea how I made it into the University of Pretoria. Programming never crossed my mind, especially back in high school; although, I wanted to be a hacker. It was probably because at the time, I always thought I could be anything I wanted to be. Then I soon realised that to be anything, you actually need an abundance of distinctions.
        <br />
        <br />
        I enjoy music production, coding, playing games and I am also an art enthusiast. In addition to that, I actually enjoy working on my programming assignments, given that my code runs without errors or I know what I am working with.
            </p>
    <p></p>
</section>

<section style="float:right; width:40%;background: ghostwhite;">
    <h3 style=" width:20%">Gontse</h3>
    <img src="~/Scripts/ocean.jpg" style="width:70%; height:50%; margin-bottom:7%" />
</section>
